*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 3em;
    margin-right: 15px;
    margin-left: 4px;
    }

.container-fluid {
    height: 65px;
}

.imagen-home{
    background-image: url(../IMAGENES/home-md.jpg);
    padding: 35px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen-home{
    position: relative;
    
}

.texto-home{
    color: aliceblue;
    margin-top: 200px;
    margin-left: 600px;
    position: absolute;
   text-align: center;
    animation: animation 2s;

    display: inline-block;
    
    
}

.titulo3{
    background-color: rgb(48, 169, 24);
    padding: 15px 80px;
}

@keyframes animation {
    0%{
       transform:scaleY(.01);
    }