
.container{
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
}
.h1{
    font-size: 78,66666666666666px;
    color: #0a2ff1;
}
.parrafo{
    font: 30,666666666666664px;
    color: #0a2ff1;
}
strong {
    background-color: #3ffff3;
}

.parrafo2{
    opacity: 0.5;
    bottom: 0px;
    position: absolute;
    height: 60px;
    width: 203px;
    background-color: #8a9af1;

}
#imagen{
    position: relative;
    height: 300px;
}